
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>dashboard</title>
</head>
<body >    <img src="header.png" alt="">
  <header>
      <nav class="nav-links" id="nav-links">
          <ul>
            <li>		<div class="dropdown">
              <a class="dropdown-btn"> Welcome,   <%= user.username %>   ▾</a>
                <div class="dropdown-content">
                  <a href="/deposerequest">Deposes requests</a>
                  <a href="#">Edit profile</a>
                  <a href="/logout">Logout</a>
                </div>
            </div>
            </li>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
         
          </ul>
        </nav>
       <ul class='pc-links'>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
    
        <li>
        	<div class="dropdown">
            <button class="dropdown-btn"> Welcome,   <%= user.username %>   ▾</button>
              <div class="dropdown-content">
                <a href="/deposerequest">Deposes requests</a>
                <a href="#">Edit profile</a>
                <a href="/logout">Logout</a>
              </div>
          </div>
        <li>
          </ul>
    </div><button class="menu-btn" id="menu-btn">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </button>


  </header>
  <% concouresopen.forEach((data) => { %>
    <contain>
       <p><%= data.concour%></p>
        <a href="/depose?concour=<%= data.concour %>">Open</a>
        
    </contain>  
    <% }) %>
    


<% concouresclose.forEach((data) => { %>
  <contain>
    <p><%= data.concour%></p>
    <mark><%= data.end%></mark>
  </contain>
      <% }) %>
      <script src="script.js"></script>
</body>
</html>